# PREPARE CSV FILE

In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('../metadata/TAN_THYROID_summary_surgery.csv', index_col=0)
df

,Unnamed: 0,Scan ID,Cytology no.,Diagnosis/Bethesda system,Bethesda actual,Histopathology,Surgery diagnosis in number,Present,Present (Manual)
0,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist
1,1,TAN002,C-20-22,Benign nodule,2,Simple Nodular Goitre,0.0,1,exist
2,2,TAN003,C-53-23,Benign nodule,2,Simple Nodular Goitre,0.0,1,exist
3,3,TAN004,C-36-23,Benign nodule,2,Simple Nodular Goitre,0.0,1,exist
4,4,TAN005,C-373-20,Benign nodule,2,Simple Nodular Goitre,0.0,1,exist
...,...,...,...,...,...,...,...,...,...
100,100,TAN101,C-076-23,Carcinoma,6,No biopsy,NaN,1,exist
101,101,TAN102,C-285-23,Goitre/thyroiditis,2,Cystic goitre,0.0,1,exist
102,102,TAN103,CP-01-23,Carcinoma,6,Anaplastic carcinoma,1.0,1,exist
103,103,TAN104,C-302-23,Colloid goitre,2,Colloid goitre,0.0,1,exist
104,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist

In [3]:
df['Surgery diagnosis in number'].value_counts(dropna=False)

Surgery diagnosis in number
0.0    90
1.0    10
NaN     5
Name: count, dtype: int64

In [4]:
df = df[df['Surgery diagnosis in number'].notnull()].reset_index(drop=True)

In [5]:
df['Surgery diagnosis in number'].value_counts(dropna=False)

Surgery diagnosis in number
0.0    90
1.0    10
Name: count, dtype: int64

In [6]:
def get_label(x):
    return x

In [7]:
df['label'] = df['Surgery diagnosis in number'].apply(lambda x: get_label(x))

In [8]:
df['Bethesda actual'].value_counts().sort_index()

Bethesda actual
1     1
2    77
3     2
4    11
6     9
Name: count, dtype: int64

In [9]:
df['label'].value_counts().sort_index()

label
0.0    90
1.0    10
Name: count, dtype: int64

In [12]:
df.groupby('label')['Scan ID'].nunique()

label
0.0    90
1.0    10
Name: Scan ID, dtype: int64

In [13]:
df.to_csv('../metadata/TAN_surgery_groundtruth.csv')

Prepare Train/Val/Test dataset

In [14]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df['label'], test_size=0.3)

In [15]:
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit
skf = StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
skf.get_n_splits(df['label'],df['label'])
for i, (train_index, test_index) in enumerate(skf.split(df['label'],df['label'])):
    df.loc[train_index,f'fold_{i}'] = 'train'
    df.loc[test_index,f'fold_{i}'] = 'test'

In [16]:
import re
df['patient_id'] = df['Scan ID'].apply(lambda x: int(re.findall(r'TAN(\d+)',x)[0]))

In [18]:
df.groupby('label')['Scan ID'].nunique(), df.groupby('label')['patient_id'].nunique()

(label
 0.0    90
 1.0    10
 Name: Scan ID, dtype: int64,
 label
 0.0    90
 1.0    10
 Name: patient_id, dtype: int64)

In [19]:
df

,Unnamed: 0,Scan ID,Cytology no.,Diagnosis/Bethesda system,Bethesda actual,Histopathology,Surgery diagnosis in number,Present,Present (Manual),label,fold_0,fold_1,fold_2,fold_3,fold_4,patient_id
0,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist,1.0,test,train,train,train,train,1
1,1,TAN002,C-20-22,Benign nodule,2,Simple Nodular Goitre,0.0,1,exist,0.0,train,train,test,train,test,2
2,2,TAN003,C-53-23,Benign nodule,2,Simple Nodular Goitre,0.0,1,exist,0.0,train,train,train,test,train,3
3,3,TAN004,C-36-23,Benign nodule,2,Simple Nodular Goitre,0.0,1,exist,0.0,train,test,train,train,train,4
4,4,TAN005,C-373-20,Benign nodule,2,Simple Nodular Goitre,0.0,1,exist,0.0,train,test,test,train,test,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,99,TAN100,C-071-23,Follicular neoplasm,4,Adenomatous goitre,0.0,1,exist,0.0,test,train,train,train,train,100
96,101,TAN102,C-285-23,Goitre/thyroiditis,2,Cystic goitre,0.0,1,exist,0.0,train,train,train,train,test,102
97,102,TAN103,CP-01-23,Carcinoma,6,Anaplastic carcinoma,1.0,1,exist,1.0,train,train,train,train,train,103
98,103,TAN104,C-302-23,Colloid goitre,2,Colloid goitre,0.0,1,exist,0.0,train,train,test,train,train,104
99,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist,0.0,train,train,train,train,train,105

In [20]:
df.to_csv('../metadata/TAN_surgery_patient_dataset.csv')

Read image files

In [21]:
import os
import pathlib

In [22]:
p = pathlib.Path('../data/Tanzania-Data')
all_folders = list(p.iterdir())
all_folders = [i for i in all_folders if i.is_dir()]
all_folders[:3], len(all_folders)

([PosixPath('../data/Tanzania-Data/TAN097'),
  PosixPath('../data/Tanzania-Data/TAN010'),
  PosixPath('../data/Tanzania-Data/TAN009')],
 106)

In [36]:
rows = []
for i, f in enumerate(sorted(all_folders)):
    print(i, f)
    if 'TAN' in f.name and f.is_dir():
        patient_id = int(re.findall(r'TAN(\d+)',f.name)[0])
        all_imgs = list(f.iterdir())
        all_imgs = [i for i in all_imgs if i.name.endswith('.jpg')]
        for img in all_imgs:
            rows.append((patient_id, str(img)))
        print('\t added', len(all_imgs))

0 ../data/Tanzania-Data/.ipynb_checkpoints
1 ../data/Tanzania-Data/TAN001
	 added 14
2 ../data/Tanzania-Data/TAN002
	 added 24
3 ../data/Tanzania-Data/TAN003
	 added 14
4 ../data/Tanzania-Data/TAN004
	 added 13
5 ../data/Tanzania-Data/TAN005
	 added 4
6 ../data/Tanzania-Data/TAN006
	 added 11
7 ../data/Tanzania-Data/TAN007
	 added 9
8 ../data/Tanzania-Data/TAN008
	 added 7
9 ../data/Tanzania-Data/TAN009
	 added 12
10 ../data/Tanzania-Data/TAN010
	 added 11
11 ../data/Tanzania-Data/TAN011
	 added 10
12 ../data/Tanzania-Data/TAN012
	 added 8
13 ../data/Tanzania-Data/TAN013
	 added 13
14 ../data/Tanzania-Data/TAN014
	 added 11
15 ../data/Tanzania-Data/TAN015
	 added 10
16 ../data/Tanzania-Data/TAN016
	 added 12
17 ../data/Tanzania-Data/TAN017
	 added 14
18 ../data/Tanzania-Data/TAN018
	 added 7
19 ../data/Tanzania-Data/TAN019
	 added 11
20 ../data/Tanzania-Data/TAN020
	 added 12
21 ../data/Tanzania-Data/TAN021
	 added 11
22 ../data/Tanzania-Data/TAN022
	 added 11
23 ../data/Tanzania-Data/TAN023
	 added 10
24 ../data/Tanzania-Data/TAN024
	 added 14
25 ../data/Tanzania-Data/TAN025
	 added 12
26 ../data/Tanzania-Data/TAN026
	 added 14
27 ../data/Tanzania-Data/TAN027
	 added 18
28 ../data/Tanzania-Data/TAN028
	 added 11
29 ../data/Tanzania-Data/TAN029
	 added 18
30 ../data/Tanzania-Data/TAN030
	 added 15
31 ../data/Tanzania-Data/TAN031
	 added 9
32 ../data/Tanzania-Data/TAN032
	 added 11
33 ../data/Tanzania-Data/TAN033
	 added 7
34 ../data/Tanzania-Data/TAN034
	 added 11
35 ../data/Tanzania-Data/TAN035
	 added 11
36 ../data/Tanzania-Data/TAN036
	 added 13
37 ../data/Tanzania-Data/TAN037
	 added 10
38 ../data/Tanzania-Data/TAN038
	 added 16
39 ../data/Tanzania-Data/TAN039
	 added 16
40 ../data/Tanzania-Data/TAN040
	 added 11
41 ../data/Tanzania-Data/TAN041
	 added 8
42 ../data/Tanzania-Data/TAN042
	 added 8
43 ../data/Tanzania-Data/TAN043
	 added 6
44 ../data/Tanzania-Data/TAN044
	 added 14
45 ../data/Tanzania-Data/TAN045
	 added 6
46 ../data/Tanzania-Data/TAN046
	 added 13
47 ../data/Tanzania-Data/TAN047
	 added 11
48 ../data/Tanzania-Data/TAN048
	 added 8
49 ../data/Tanzania-Data/TAN049
	 added 5
50 ../data/Tanzania-Data/TAN050
	 added 10
51 ../data/Tanzania-Data/TAN051
	 added 11
52 ../data/Tanzania-Data/TAN052
	 added 10
53 ../data/Tanzania-Data/TAN053
	 added 19
54 ../data/Tanzania-Data/TAN054
	 added 11
55 ../data/Tanzania-Data/TAN055
	 added 7
56 ../data/Tanzania-Data/TAN056
	 added 13
57 ../data/Tanzania-Data/TAN057
	 added 9
58 ../data/Tanzania-Data/TAN058
	 added 17
59 ../data/Tanzania-Data/TAN059
	 added 16
60 ../data/Tanzania-Data/TAN060
	 added 9
61 ../data/Tanzania-Data/TAN061
	 added 12
62 ../data/Tanzania-Data/TAN062
	 added 14
63 ../data/Tanzania-Data/TAN063
	 added 15
64 ../data/Tanzania-Data/TAN064
	 added 17
65 ../data/Tanzania-Data/TAN065
	 added 15
66 ../data/Tanzania-Data/TAN066
	 added 9
67 ../data/Tanzania-Data/TAN067
	 added 12
68 ../data/Tanzania-Data/TAN068
	 added 14
69 ../data/Tanzania-Data/TAN069
	 added 13
70 ../data/Tanzania-Data/TAN070
	 added 8
71 ../data/Tanzania-Data/TAN071
	 added 19
72 ../data/Tanzania-Data/TAN072
	 added 11
73 ../data/Tanzania-Data/TAN073
	 added 8
74 ../data/Tanzania-Data/TAN074
	 added 24
75 ../data/Tanzania-Data/TAN075
	 added 13
76 ../data/Tanzania-Data/TAN076
	 added 12
77 ../data/Tanzania-Data/TAN077
	 added 11
78 ../data/Tanzania-Data/TAN078
	 added 12
79 ../data/Tanzania-Data/TAN079
	 added 14
80 ../data/Tanzania-Data/TAN080
	 added 11
81 ../data/Tanzania-Data/TAN081
	 added 12
82 ../data/Tanzania-Data/TAN082
	 added 12
83 ../data/Tanzania-Data/TAN083
	 added 15
84 ../data/Tanzania-Data/TAN084
	 added 9
85 ../data/Tanzania-Data/TAN085
	 added 16
86 ../data/Tanzania-Data/TAN086
	 added 16
87 ../data/Tanzania-Data/TAN087
	 added 8
88 ../data/Tanzania-Data/TAN088
	 added 14
89 ../data/Tanzania-Data/TAN089
	 added 16
90 ../data/Tanzania-Data/TAN090
	 added 14
91 ../data/Tanzania-Data/TAN091
	 added 15
92 ../data/Tanzania-Data/TAN092
	 added 12
93 ../data/Tanzania-Data/TAN093
	 added 26
94 ../data/Tanzania-Data/TAN094
	 added 20
95 ../data/Tanzania-Data/TAN095
	 added 15
96 ../data/Tanzania-Data/TAN096
	 added 7
97 ../data/Tanzania-Data/TAN097
	 added 13
98 ../data/Tanzania-Data/TAN098
	 added 11
99 ../data/Tanzania-Data/TAN099
	 added 13
100 ../data/Tanzania-Data/TAN100
	 added 15
101 ../data/Tanzania-Data/TAN101
	 added 12
102 ../data/Tanzania-Data/TAN102
	 added 19
103 ../data/Tanzania-Data/TAN103
	 added 22
104 ../data/Tanzania-Data/TAN104
	 added 12
105 ../data/Tanzania-Data/TAN105
	 added 12

In [37]:
image_dataset = pd.DataFrame(rows, columns=['patient_id', 'image_path'])
image_dataset

      patient_id                                         image_path
0              1  ../data/Tanzania-Data/TAN001/IMG_20220623_1400...
1              1  ../data/Tanzania-Data/TAN001/IMG_20220623_1413...
2              1  ../data/Tanzania-Data/TAN001/IMG_20220623_1349...
3              1  ../data/Tanzania-Data/TAN001/IMG_20220623_1349...
4              1  ../data/Tanzania-Data/TAN001/IMG_20220623_1413...
...          ...                                                ...
1302         105  ../data/Tanzania-Data/TAN105/IMG_2303311302112...
1303         105  ../data/Tanzania-Data/TAN105/IMG_2303311304087...
1304         105  ../data/Tanzania-Data/TAN105/IMG_2303311305261...
1305         105  ../data/Tanzania-Data/TAN105/IMG_2303311306152...
1306         105  ../data/Tanzania-Data/TAN105/IMG_2303311304362...

[1307 rows x 2 columns]

In [38]:
image_dataset['patient_id'].nunique()

105

In [39]:
image_dataset.to_csv('../metadata/TAN_surgery_image_path.csv')

# PREPARE CSV FILE

In [40]:
import pandas as pd

In [41]:
df = pd.read_csv('../metadata/TAN_surgery_patient_dataset.csv',index_col=0)
df1 = pd.read_csv('../metadata/TAN_surgery_image_path.csv',index_col=0)

In [42]:
df

,Unnamed: 0,Scan ID,Cytology no.,Diagnosis/Bethesda system,Bethesda actual,Histopathology,Surgery diagnosis in number,Present,Present (Manual),label,fold_0,fold_1,fold_2,fold_3,fold_4,patient_id
0,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist,1.0,test,train,train,train,train,1
1,1,TAN002,C-20-22,Benign nodule,2,Simple Nodular Goitre,0.0,1,exist,0.0,train,train,test,train,test,2
2,2,TAN003,C-53-23,Benign nodule,2,Simple Nodular Goitre,0.0,1,exist,0.0,train,train,train,test,train,3
3,3,TAN004,C-36-23,Benign nodule,2,Simple Nodular Goitre,0.0,1,exist,0.0,train,test,train,train,train,4
4,4,TAN005,C-373-20,Benign nodule,2,Simple Nodular Goitre,0.0,1,exist,0.0,train,test,test,train,test,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,99,TAN100,C-071-23,Follicular neoplasm,4,Adenomatous goitre,0.0,1,exist,0.0,test,train,train,train,train,100
96,101,TAN102,C-285-23,Goitre/thyroiditis,2,Cystic goitre,0.0,1,exist,0.0,train,train,train,train,test,102
97,102,TAN103,CP-01-23,Carcinoma,6,Anaplastic carcinoma,1.0,1,exist,1.0,train,train,train,train,train,103
98,103,TAN104,C-302-23,Colloid goitre,2,Colloid goitre,0.0,1,exist,0.0,train,train,test,train,train,104
99,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist,0.0,train,train,train,train,train,105

In [43]:
df['patient_id'].nunique()

100

In [44]:
df1

      patient_id                                         image_path
0              1  ../data/Tanzania-Data/TAN001/IMG_20220623_1400...
1              1  ../data/Tanzania-Data/TAN001/IMG_20220623_1413...
2              1  ../data/Tanzania-Data/TAN001/IMG_20220623_1349...
3              1  ../data/Tanzania-Data/TAN001/IMG_20220623_1349...
4              1  ../data/Tanzania-Data/TAN001/IMG_20220623_1413...
...          ...                                                ...
1302         105  ../data/Tanzania-Data/TAN105/IMG_2303311302112...
1303         105  ../data/Tanzania-Data/TAN105/IMG_2303311304087...
1304         105  ../data/Tanzania-Data/TAN105/IMG_2303311305261...
1305         105  ../data/Tanzania-Data/TAN105/IMG_2303311306152...
1306         105  ../data/Tanzania-Data/TAN105/IMG_2303311304362...

[1307 rows x 2 columns]

In [45]:
df1['patient_id'].nunique()

105

In [46]:
df = df.merge(df1, how='inner', left_on='patient_id', right_on='patient_id')
df

,Unnamed: 0,Scan ID,Cytology no.,Diagnosis/Bethesda system,Bethesda actual,Histopathology,Surgery diagnosis in number,Present,Present (Manual),label,fold_0,fold_1,fold_2,fold_3,fold_4,patient_id,image_path
0,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist,1.0,test,train,train,train,train,1,../data/Tanzania-Data/TAN001/IMG_20220623_1400...
1,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist,1.0,test,train,train,train,train,1,../data/Tanzania-Data/TAN001/IMG_20220623_1413...
2,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist,1.0,test,train,train,train,train,1,../data/Tanzania-Data/TAN001/IMG_20220623_1349...
3,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist,1.0,test,train,train,train,train,1,../data/Tanzania-Data/TAN001/IMG_20220623_1349...
4,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist,1.0,test,train,train,train,train,1,../data/Tanzania-Data/TAN001/IMG_20220623_1413...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist,0.0,train,train,train,train,train,105,../data/Tanzania-Data/TAN105/IMG_2303311302112...
1225,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist,0.0,train,train,train,train,train,105,../data/Tanzania-Data/TAN105/IMG_2303311304087...
1226,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist,0.0,train,train,train,train,train,105,../data/Tanzania-Data/TAN105/IMG_2303311305261...
1227,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist,0.0,train,train,train,train,train,105,../data/Tanzania-Data/TAN105/IMG_2303311306152...
1228,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist,0.0,train,train,train,train,train,105,../data/Tanzania-Data/TAN105/IMG_2303311304362...

In [47]:
df[['patient_id', 'label']].drop_duplicates()['label'].value_counts().sort_index()

label
0.0    90
1.0    10
Name: count, dtype: int64

In [48]:
df['new_label'] = df['label'].astype(int)
df

,Unnamed: 0,Scan ID,Cytology no.,Diagnosis/Bethesda system,Bethesda actual,Histopathology,Surgery diagnosis in number,Present,Present (Manual),label,fold_0,fold_1,fold_2,fold_3,fold_4,patient_id,image_path,new_label
0,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist,1.0,test,train,train,train,train,1,../data/Tanzania-Data/TAN001/IMG_20220623_1400...,1
1,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist,1.0,test,train,train,train,train,1,../data/Tanzania-Data/TAN001/IMG_20220623_1413...,1
2,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist,1.0,test,train,train,train,train,1,../data/Tanzania-Data/TAN001/IMG_20220623_1349...,1
3,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist,1.0,test,train,train,train,train,1,../data/Tanzania-Data/TAN001/IMG_20220623_1349...,1
4,0,TAN001,C-11-22,Malignant,6,Anaplastic carcinoma,1.0,1,exist,1.0,test,train,train,train,train,1,../data/Tanzania-Data/TAN001/IMG_20220623_1413...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist,0.0,train,train,train,train,train,105,../data/Tanzania-Data/TAN105/IMG_2303311302112...,0
1225,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist,0.0,train,train,train,train,train,105,../data/Tanzania-Data/TAN105/IMG_2303311304087...,0
1226,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist,0.0,train,train,train,train,train,105,../data/Tanzania-Data/TAN105/IMG_2303311305261...,0
1227,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist,0.0,train,train,train,train,train,105,../data/Tanzania-Data/TAN105/IMG_2303311306152...,0
1228,104,TAN105,C-329-23,Follicular neoplasm,4,Follicular adenoma,0.0,1,exist,0.0,train,train,train,train,train,105,../data/Tanzania-Data/TAN105/IMG_2303311304362...,0

In [49]:
df[['patient_id', 'new_label']].drop_duplicates()['new_label'].value_counts().sort_index()

new_label
0    90
1    10
Name: count, dtype: int64

In [50]:
df.to_csv('../metadata/TAN_surgery_2c.csv')