# PREPARE CSV FILE

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('metadata/image_dataset_v2.csv',index_col=0)

def new_label(x):
    if x >= 3:
        return 2
    elif x >= 1:
        return 1
    else:
        return 0


df['new_label'] = df['label'].apply(lambda x: new_label(x))
df

,data,patient_id,img_id,label,dataset,img_path,filename,new_img_path,new_label
0,TAN,TAN045,TAN_TAN045,1,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,1672994795748.jpg,processed_img/TAN_TAN045/1672994795748.jpg,1
1,TAN,TAN045,TAN_TAN045,1,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,1672994795743.jpg,processed_img/TAN_TAN045/1672994795743.jpg,1
2,TAN,TAN045,TAN_TAN045,1,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,1672994795718.jpg,processed_img/TAN_TAN045/1672994795718.jpg,1
3,TAN,TAN045,TAN_TAN045,1,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,1672994795729.jpg,processed_img/TAN_TAN045/1672994795729.jpg,1
4,TAN,TAN045,TAN_TAN045,1,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,1672994795723.jpg,processed_img/TAN_TAN045/1672994795723.jpg,1
...,...,...,...,...,...,...,...,...,...
3350,TAN,TAN014,TAN_TAN014,1,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_221006113544221.jpg,processed_img/TAN_TAN014/IMG_221006113544221.jpg,1
3351,TAN,TAN014,TAN_TAN014,1,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_221006113944682.jpg,processed_img/TAN_TAN014/IMG_221006113944682.jpg,1
3352,TAN,TAN014,TAN_TAN014,1,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_221006113632001.jpg,processed_img/TAN_TAN014/IMG_221006113632001.jpg,1
3353,TAN,TAN014,TAN_TAN014,1,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_221006113754747.jpg,processed_img/TAN_TAN014/IMG_221006113754747.jpg,1
3354,TAN,TAN014,TAN_TAN014,1,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_221006113833108.jpg,processed_img/TAN_TAN014/IMG_221006113833108.jpg,1

In [8]:
df['new_label'].value_counts(normalize=True)

new_label
2    0.594635
1    0.373174
0    0.032191
Name: proportion, dtype: float64

In [9]:
df.to_csv('metadata/image_dataset_3class.csv')

# COPY DATA

In [10]:
import pandas as pd
import os
import shutil

In [11]:
LOC = './data/huggingface_NOH_3class'

In [12]:
df = pd.read_csv('./metadata/image_dataset_3class.csv', index_col=0)
df['unique_img_id'] = df['data'] + '__' + df['patient_id'] + '__' + df['label'].astype(str) + '__' + df['filename']
df

,data,patient_id,img_id,label,dataset,img_path,filename,new_img_path,new_label,unique_img_id
0,TAN,TAN045,TAN_TAN045,1,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,1672994795748.jpg,processed_img/TAN_TAN045/1672994795748.jpg,1,TAN__TAN045__1__1672994795748.jpg
1,TAN,TAN045,TAN_TAN045,1,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,1672994795743.jpg,processed_img/TAN_TAN045/1672994795743.jpg,1,TAN__TAN045__1__1672994795743.jpg
2,TAN,TAN045,TAN_TAN045,1,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,1672994795718.jpg,processed_img/TAN_TAN045/1672994795718.jpg,1,TAN__TAN045__1__1672994795718.jpg
3,TAN,TAN045,TAN_TAN045,1,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,1672994795729.jpg,processed_img/TAN_TAN045/1672994795729.jpg,1,TAN__TAN045__1__1672994795729.jpg
4,TAN,TAN045,TAN_TAN045,1,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,1672994795723.jpg,processed_img/TAN_TAN045/1672994795723.jpg,1,TAN__TAN045__1__1672994795723.jpg
...,...,...,...,...,...,...,...,...,...,...
3350,TAN,TAN014,TAN_TAN014,1,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_221006113544221.jpg,processed_img/TAN_TAN014/IMG_221006113544221.jpg,1,TAN__TAN014__1__IMG_221006113544221.jpg
3351,TAN,TAN014,TAN_TAN014,1,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_221006113944682.jpg,processed_img/TAN_TAN014/IMG_221006113944682.jpg,1,TAN__TAN014__1__IMG_221006113944682.jpg
3352,TAN,TAN014,TAN_TAN014,1,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_221006113632001.jpg,processed_img/TAN_TAN014/IMG_221006113632001.jpg,1,TAN__TAN014__1__IMG_221006113632001.jpg
3353,TAN,TAN014,TAN_TAN014,1,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_221006113754747.jpg,processed_img/TAN_TAN014/IMG_221006113754747.jpg,1,TAN__TAN014__1__IMG_221006113754747.jpg
3354,TAN,TAN014,TAN_TAN014,1,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_221006113833108.jpg,processed_img/TAN_TAN014/IMG_221006113833108.jpg,1,TAN__TAN014__1__IMG_221006113833108.jpg

In [13]:
df=df[df['data']=='NOH'].reset_index(drop=True)
df

,data,patient_id,img_id,label,dataset,img_path,filename,new_img_path,new_label,unique_img_id
0,NOH,122,NOH_122,4,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_20230228_082014.jpg,processed_img/NOH_122/IMG_20230228_082014.jpg,2,NOH__122__4__IMG_20230228_082014.jpg
1,NOH,122,NOH_122,4,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_20230228_082225.jpg,processed_img/NOH_122/IMG_20230228_082225.jpg,2,NOH__122__4__IMG_20230228_082225.jpg
2,NOH,122,NOH_122,4,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_20230228_082229.jpg,processed_img/NOH_122/IMG_20230228_082229.jpg,2,NOH__122__4__IMG_20230228_082229.jpg
3,NOH,122,NOH_122,4,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_20230228_081641.jpg,processed_img/NOH_122/IMG_20230228_081641.jpg,2,NOH__122__4__IMG_20230228_081641.jpg
4,NOH,122,NOH_122,4,train,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_20230228_082243.jpg,processed_img/NOH_122/IMG_20230228_082243.jpg,2,NOH__122__4__IMG_20230228_082243.jpg
...,...,...,...,...,...,...,...,...,...,...
2043,NOH,24,NOH_24,5,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_20230116_082639.jpg,processed_img/NOH_24/IMG_20230116_082639.jpg,2,NOH__24__5__IMG_20230116_082639.jpg
2044,NOH,24,NOH_24,5,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_20230116_082508.jpg,processed_img/NOH_24/IMG_20230116_082508.jpg,2,NOH__24__5__IMG_20230116_082508.jpg
2045,NOH,24,NOH_24,5,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_20230116_082541.jpg,processed_img/NOH_24/IMG_20230116_082541.jpg,2,NOH__24__5__IMG_20230116_082541.jpg
2046,NOH,24,NOH_24,5,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_20230116_082615.jpg,processed_img/NOH_24/IMG_20230116_082615.jpg,2,NOH__24__5__IMG_20230116_082615.jpg
2047,NOH,24,NOH_24,5,test,/content/drive/MyDrive/Colab Notebooks/AI4Thyr...,IMG_20230116_082550.jpg,processed_img/NOH_24/IMG_20230116_082550.jpg,2,NOH__24__5__IMG_20230116_082550.jpg

In [14]:
df['new_label'].value_counts(normalize=True)

new_label
2    0.813477
1    0.139160
0    0.047363
Name: proportion, dtype: float64

In [15]:
os.makedirs(LOC, exist_ok=True)

In [16]:
gs = df.groupby(['dataset','new_label'])

In [17]:
for i, g in gs:
    cur_folder = os.path.join(LOC, i[0], str(i[1]))
    os.makedirs(cur_folder, exist_ok=True)
    for _, r in g.iterrows():
        src_path = os.path.join('data', r['new_img_path'])
        dst_path = os.path.join(cur_folder, r['unique_img_id'])
        shutil.copy(src_path, dst_path)